body {
  margin: 0
}
section{
  background-color: #4da6ff;
}
h2{
  background-color:yellow;
  border:black 2px solid;
  font-size: 300px;
}


/* Exo margin */
/* fin exo margin */
section:nth-child(1) h2:first-of-type{
  margin:50px;
}
section:nth-child(1) h2:nth-of-type(2){
  margin-left:20%;
}
section:nth-child(1) h2:nth-of-type(3){
  margin:auto;
}
/* exo padding */
/* fin exo padding */
section:nth-child(2) h2:first-of-type{
  padding: 50px;
}
section:nth-child(2) h2:nth-of-type(2){
  padding-left: 20%
}
/* exo display */
/* fin exo display */
section:nth-child(3){
  margin:100px ;
  padding: 20px;
}
section:nth-child(3) h2{
  display: inline;
}
section:nth-child(3) h2:nth-of-type(2){
  display: none;
}
/* exo float */
/* fin exo float */
section:nth-child(4) h2{
  width: auto;
  float: none;
  overflow:scroll;
}
/* exo position */
/* fin exo position */

/* exo position */
/* fin exo position */

/* exo position (priorité) */
/* fin exo position (priorité) */